.main-nav {
  border-bottom: 1px solid $color-border-light;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  display: block;
  padding: 22px $padding-mobile 23px;

  @include font-primary(20px, 20px, $color-text-dark, 500);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-bg-main;
  border-top: 1px solid $color-border-light;

  @include transition-effect(color);

  &:hover[href],
  &:focus {
    color: rgba($color-text-dark, 0.6);
  }

  &:active[href] {
    color: rgba($color-text-dark, 0.3);
    outline: none;
  }
}

@media (min-width: $width-tablet) {
  .main-nav {
    border-bottom: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .main-nav__link {
    margin-top: 10px;
    margin-left: 35px;
    padding: 8px 0 7px;

    @include font-set(18px, 25px);

    font-weight: 400;

    background-color: transparent;
    border-top: none;

    &--current {
      border-bottom: 2px solid $color-accent;
    }
  }
}

@media (min-width: $width-desktop) {
  .main-nav__link {
    margin-left: 34px;
    padding: 9px 0 8px;

    font-size: 20px;
  }

  .main-nav--home .main-nav__list {
    max-width: $width-desktop / 2 - $padding-desktop;
    margin-left: auto;
  }

  .main-nav--home .main-nav__link {
    color: $color-text-light;

    &:hover[href],
    &:focus {
      color: rgba($color-text-light, 0.6);
    }

    &:active[href] {
      color: rgba($color-text-light, 0.3);
    }

    &--current {
      border-color: $color-text-light;
    }
  }
}
