.page-header__logo {
  position: relative;

  display: block;

  min-height: 65px;
  padding: 0 $padding-mobile;

  text-decoration: none;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
    outline: none;
  }
}

.page-header__logo::before {
  @include link-overlay;
}

.page-header__logo-icon {
  position: absolute;
  top: 11px;

  width: 33px;
  height: auto;
}

.page-header__logo-image {
  display: block;
  padding: 24px 0 22px;
}

.page-header__logo-image img {
  @include image-block(101px);

  margin: 0 auto;
}

@media (min-width: $width-tablet) {
  .page-header__top {
    display: flex;
    align-items: flex-start;

    padding: 24px $padding-tablet;
  }

  .page-header__logo {
    flex-shrink: 0;

    min-height: auto;
    padding: 0;

    border-bottom: none;
  }

  .page-header__logo-icon {
    display: none;
  }

  .page-header__logo-image {
    padding: 0;
  }

  .page-header__logo-image img {
    width: 173px;
    height: 58px;
    margin: 0;
  }

  .page-header__nav {
    flex-shrink: 0;
    flex-grow: 1;

    width: 516px;
  }
}

@media (min-width: $width-desktop) {
  .page-header--home {
    background-image:
      url("../img/bg-index-desktop@1x.jpg"),
      linear-gradient(to right, transparent 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position:
      left calc(50% + 360px) bottom 0,
      left top;
    background-size:
      720px 696px,
      100% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/bg-index-desktop@2x.jpg"),
        linear-gradient(to right, transparent 50%, #65a93c 50%);
    }
  }

  .page-header__top {
    @include desktop-container;

    padding-top: 54px;
    padding-bottom: 54px;
  }

  .page-header__logo-image img {
    width: 202px;
    height: 59px;
  }
}

@media (min-width: 1440px) {
  .page-header--home {
    background-position:
      right bottom,
      left top;
  }
}
