.promo {
  padding: 22px $padding-mobile;

  text-align: center;

  background-image:
    url("../img/bg-index-mobile@1x.jpg"),
    linear-gradient(to bottom, #65a93c 305px, transparent 305px);
  background-repeat: no-repeat;
  background-position: top right;
  background-size:
    320px 305px,
    100% 100%;
}

.promo__title {
  width: 250px;
  margin: 5px auto 24px;

  @include font-primary(36px, 36px, $color-text-light);
}

.promo__text {
  margin-top: 0;
  margin-bottom: 30px;

  @include font-primary(14px, 14px, $color-text-light);

  text-transform: uppercase;
}

.promo__image {
  @include image-block(280px);

  margin: 0 auto 2px;
}

@media (max-width: $width-tablet - 1px) {
  .promo__btn {
    @include font-set(14px, 18px);
  }
}

@media (min-width: $width-tablet) {
  .promo {
    position: relative;
    z-index: 1;

    padding-top: 0;
    padding-left: calc(#{$padding-tablet} + 88px);
    padding-right: $padding-tablet;
    padding-bottom: 529px;

    text-align: left;

    background: none;
  }

  .promo__title {
    width: 486px;
    margin: 34px 0 41px;

    @include font-set(60px, 60px);

    color: $color-text-dark;
  }

  .promo__text {
    margin-bottom: 48px;

    @include font-set(20px, 20px);

    color: $color-text-dark;
  }

  .promo__image-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;

    width: 100%;
  }

  .promo__image {
    width: 708px;
    margin-bottom: 0;
  }

  .promo__btn {
    min-width: 245px;
    max-width: 426px;
  }
}

@media (min-width: $width-desktop) {
  .promo {
    @include desktop-container;

    padding-top: 20px;
    padding-left: $padding-desktop + 80px;
    padding-bottom: 188px;
  }

  .promo__text {
    margin-bottom: 54px;
  }

  .promo__image-wrapper {
    left: 490px;
    bottom: 55px;
    z-index: 0;

    width: auto;
  }

  .promo__image {
    width: 552px;
  }
}
