$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1300px;

$padding-mobile: (20px / $width-mobile * 100%);
$padding-tablet: (30px / $width-tablet * 100%);
$padding-desktop: 40px;


$white: #ffffff;

$color-accent: #68b738;
$color-accent-dark: #5eaa2f;

$color-text-main: #444444;
$color-text-dark: #111111;
$color-text-light: $white;

$color-bg-main: $white;
$color-bg-light: #f2f2f2;

$color-border-main: #cdcdcd;
$color-border-light: #e6e6e6;
